# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/

# IDEs
.idea/
.vscode/

# Archivos temporales
*.swp
*.swo
*~

# Archivos de credenciales
secrets/
*.json
.env

# No ignorar estos archivos importantes
!requirements.txt
!package.json
!app.py
!*.py
# Asegurarse de excluir específicamente los archivos de credenciales incluso si coinciden con patrones anteriores
secrets/clave.json
credenciales.json